In [238]:
import numpy as np
import pandas as pd
import joblib
from sklearn.compose import ColumnTransformer
from sklearn.datasets import fetch_openml
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV

np.random.seed(0)

In [239]:
cols = ['Survived','Sex','Age','SibSp','Parch',
    'Fare','Cabin','Embarked']

df = pd.read_csv('data/train.csv', usecols = cols )
X_train = df.drop(columns=['Survived'])
y_train = df['Survived'].astype('category')
# df[c] = df[c].str.rstrip('%').astype(float)/100.0

In [240]:
# X, y = fetch_openml(
#     "titanic", version=1, as_frame=True, return_X_y=True, parser="pandas"
# )
# y.info()

In [241]:
numeric_features = ['Age','SibSp','Parch',
    'Fare']
numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="median")), ("scaler", StandardScaler())]
)

categorical_features = ['Sex','Cabin','Embarked']
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)

In [242]:
clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", LogisticRegression(solver='lbfgs', max_iter=100))]
)

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [243]:
cols = ['PassengerId', 'Sex','Age','SibSp','Parch',
    'Fare','Cabin','Embarked']
df_test1 = pd.read_csv('data\\test.csv', usecols = cols )

# ids = df.index[df['Date'] == '1992-01-03'].tolist()
cols = ['PassengerId','Survived']
df_test2 = pd.read_csv('data\\gender_submission.csv', usecols = cols )

# index = df_test_y.index[df_test_y['PassengerId'] == 904].tolist()
# df_test2['PassengerId'][index]

test_df = pd.merge(df_test2, df_test1,validate="one_to_one")
test_df = test_df.drop(columns=['PassengerId'])


X_test = test_df.drop(columns=['Survived'])
y_test = test_df['Survived'].astype('category')

In [244]:
X_train

        Sex   Age  SibSp  Parch     Fare Cabin Embarked
0      male  22.0      1      0   7.2500   NaN        S
1    female  38.0      1      0  71.2833   C85        C
2    female  26.0      0      0   7.9250   NaN        S
3    female  35.0      1      0  53.1000  C123        S
4      male  35.0      0      0   8.0500   NaN        S
..      ...   ...    ...    ...      ...   ...      ...
886    male  27.0      0      0  13.0000   NaN        S
887  female  19.0      0      0  30.0000   B42        S
888  female   NaN      1      2  23.4500   NaN        S
889    male  26.0      0      0  30.0000  C148        C
890    male  32.0      0      0   7.7500   NaN        Q

[891 rows x 7 columns]

In [245]:


clf.fit(X_train, y_train)
print("model score: %.3f" % clf.score(X_test, y_test))

model score: 0.947

In [246]:
joblib.dump(clf, 'our_pridction.joblib')

['our_pridction.joblib']

In [285]:
my_input = list(X_train.head(1))
# for i in range(len(my_input)):
#     my_input[i]= [my_input[i]]
my_input

['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']

In [345]:
yoni = ['Sex','Sex','Sex','Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']

yoni.count('Sex') * len(yoni)/100

0.4

In [346]:
data = [['female'], [22.0],
        [1], [0],
        [7.25], [None], ['S']]

data = dict(zip(list(X_train.head(1)), data))
df_for_predict = pd.DataFrame.from_dict(data)
df_for_predict

prediction = clf.predict(df_for_predict)

if prediction[0]:
    print("Survived")
else:
    print("Died")

Survived